



/* Sticky Header
.sticky {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1001;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

}

.sticky .header-top {
	display: none;
}


/* Our Services
#block-ourservices {
	text-align: center;
}
#block-ourservices h2 {
	text-transform: uppercase;
}
#block-ourservices p.block-subtitle {
	padding: 15px 0;
	font-size: 1.25rem;
}

/* Our Features
#block-ourfeatures {
	margin-top: 4rem;
}
#block-ourfeatures .service {
	padding-left: 60px;
	position: relative;
	margin-bottom: 20px;
}
#block-ourfeatures .service-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 36px;
	text-align: center;
	display: block;
	border-radius: 100rem;
}
/* Local tasks 
.nav-pills {
	margin-bottom: 15px;
}
@media (max-width: 48rem) {
	.nav-pills > li {
		float: none;
	}
}

@media (max-width: 48rem) {
	.nav-pills > li > a {
		border: none;
		color: #FFFFFF;
		background-color: transparent;
	}
}


.layout-sidebar-second .block {
	margin-bottom: 3rem;
}

/* Post
.post {
	margin-left: 60px;
}
.post .post-image {
	margin-left: -60px;
	margin-bottom: 15px;
}
.post .post-image img {
	max-width: 100%;
	height: auto;
}
.post .post-date {
	margin-left: -60px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	float: left;
	margin-right: 10px;
	text-align: center;
}
.post .post-date .month {
	background: #0088cc;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
	color: #FFFFFF;
	font-size: 0.9rem;
	padding: 0 10px 2px;
}
.post .post-date .day {
	background: #F4F4F4;
	color: #0088cc;
	display: block;
	font-size: 16px;
	font-weight: 500;
	font-weight: bold;
	padding: 10px;
}
.post .post-content h2 {
	margin-bottom: 5px;
}
.post .post-content h2 a {
	text-decoration: none;
}
.post .post-meta {
	font-size: 0.9rem;
	margin-bottom: 7px;
}
.post .post-meta > span {
	display: inline-block;
	padding-right: 8px;
}
.post .post-meta i {
	margin-right: 3px;
}
.post .post-meta ul {
	display: inline-block;
	padding: 0;
}
.post .post-meta ul li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 0;
}
.post .post-meta ul li:after {
	content: ',';
}
.post .post-meta ul li:last-child:after {
	content: none;
}
.post .post-share {
	margin: 55px 0 0 0;
	border-top: 1px solid #DDD;
	padding-top: 30px;
	padding-bottom: 30px;
}

.post .post-share h3 {
	text-transform: none;
}

.post .post-block {

	margin: 15px 0 0 0;
	padding: 20px 0 15px 0;
}
.post .post-block h3 {
	font-size: 1.8rem;
	font-weight: 200;
	margin: 0 0 20px;
	text-transform: none;
}
.post .post-block h3 i {
	margin-right: 7px;
}

.post--listing {
	border-bottom: 1px solid #DDD;
	margin-bottom: 50px;
	padding-bottom: 10px;
}

.post-info a:hover {
	background: none;
}

.landing h3 {
	margin-bottom: .25rem;
}

.landing h4 {
	color: #808b8d;
	padding-bottom: 1rem;
	border-bottom: 2px solid #EBEBEB;
}

@media (max-width: 48rem) {
	.featured-image {
		margin-bottom: 2rem;
	}
}

/* Contact Page
.map {
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
	transform: translateZ(0px);
	background-color: #e5e3df;
	margin-bottom: 35px;
}

.contact-intro {
	text-align: center;
	margin-bottom: 35px;
}
.contact-intro h3 {
	margin-bottom: 15px;
}

/* Search Page
#block-octo-content h2 {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 42px;
	margin: 0 0 32px 0;
}

#block-socialicons {
	float: right;
}
/*
.button {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	border-radius: 1px;
	-webkit-user-select: none;
}

.button--icon {
	display: inline-block;
	width: 30px;
	text-align: center;
}
*/

/* Contact form
.contact-form .form-item {
	margin-bottom: 1rem;
}


/* Simple Post List
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.simple-post-list li {
	border-bottom: 1px dotted #E2E2E2;
	padding: 15px 0 30px 0;
}

ul.simple-post-list li:last-child {
	border-bottom: 0;
}

ul.simple-post-list .post-image {
	float: left;
	margin-right: 12px;
}

ul.simple-post-list .post-meta {
	color: #888;
	font-size: 0.8rem;
}

.pager__items {
	clear: both;
	margin: -10px 0 20px;
	float: right;
}

.pager__items > li > a {
	border-radius: 0;
}

.pager__items > li:first-child > a {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pager__items > li:last-child > a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.pager__item {
	display: inline;
	padding: 0;
}

.pager__item a {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #ccc;
	background-color: #FFFFFF;
	border: 1px solid #ddd;
	margin-left: -1px;
}

.pager__item.is-active a {
	font-weight: bold;
	background-color: #0088CC;
	color: #FFFFFF;
}




*/

/* Team Teaser view mode */
.team {
	margin-bottom: 2rem;
	padding: 0 18px;
	text-align: center;
}
@media (max-width: 48rem) {
	.team {
		padding: 0 32px;
	}
}
@media (min-width: 48.0625rem) {
	.team {
		padding: 0 32px;
	}
}
.team .img-round {
	border-radius: 50%;
	margin: 0 auto 10px auto;
	width: 250px;
}
.team .img-round .img-border {
	border-radius: 50%;
}
.team .img-round img {
	border-radius: 50%;
}
.team .img-link {
	display: block;
	overflow: hidden;
	padding: 0;
	border: 0;
}
.team .img-border {
	display: block;
	position: relative;
	border: 4px solid #D4D4D4;
	overflow: hidden;
	-moz-transition: border-color 0.3s ease-in-out;
	-o-transition: border-color 0.3s ease-in-out;
	-webkit-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}
.team .img-grayscale-hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0s;
	transition: all 0.3s ease-in-out 0s;
}
.team .img-grayscale-hover img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.team h6 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: .5rem;
}
.team p {
	font-style: italic;
	color: #0088CC;
}
.team .button--icon {
	color: #0088CC;
	font-size: 1.125rem;
}
.team .fa-facebook:hover {
	color: #507CBE;
}
.team .fa-twitter:hover {
	color: #63CDF1;
}
.team .fa-google-plus:hover {
	color: #F16261;
}


/* Status messages */
.alert {
	margin-top: 1rem;
}

